{% extends "base.html" %}


{% block content %}


<h2>비교</h2>

    <form action="/foodcheck/compare/compare_foodingredients/" method="post">
        {% csrf_token %}
        <div id="box">
            <P><B>재료 : </B> <input type="text" name="ingredients_name[]"> <input type="button" value="추가" onclick="add_textbox()" style="background-color:red; border-color:blue; color:white"></P>
        </div>
        <input type="submit" value="OK">
    </form>

<br/>
<a href="{% url 'foodcheck:home' %}">home으로 돌아가기</a>

{% endblock content %}