<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reg Food List</title>
</head>

<h1>Reg Food List</h1>
<body>
    {% if reg_food_list %}
    <ul>
        {% for food in reg_food_list %}
            <li><a href="/foodcheck/foodingeredientslist/{{ food.food_name }}/">{{ food.food_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <P>No food are available.</P>
    {% endif %}

    <form action="/foodcheck/regfood/" method="post">
        {% csrf_token %}
        <button name="regfood">음식등록</button>
    </form>


</body>
</html>